<html>
<head>
    <link rel="Stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="Stylesheet" type="text/css" href="css/style.css" />
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <title>%title%</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <div class="content">
        %content%
    </div>

    <script type="text/javascript" >
        $(document).ready(function() {
             //使用类选择器
            $(".toc").addClass("well");

            //$("#img1").mouseout(function() {
            //    $("#img1").css("opacity", 1);
            //});
        });
    </script>
    <script id="dsq-count-scr" src="//erosblog.disqus.com/count.js" async></script>
</body>
</html>
